html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1em;
}

.text-bold {
  font-weight: 500;
}

h1,
h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.album-pop {
  text-decoration: underline;
  cursor: default;
}

.flex-cont {
  font-weight: 300;
}

@font-face {
  font-family: "Barlow Condensed", monospace;
  font-weight: 700;
  src: url("../assets/fonts/BarlowCondensed-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Barlow Condensed", monospace;
  font-weight: 600;
  src: url("../assets/fonts/BarlowCondensed-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Barlow Condensed" monospace;
  font-weight: 300;
  src: url("../assets/fonts/assistant/BarlowCondensed-Light.woff2") format("woff2");
}
html {
  font-family: "Barlow Condensed", monospace;
}

:root {
  --pri-clr: hsl(0, 0%, 40%);
  --pri-clr-lt: hsl(0, 0%, 45%);
  --btn-pri-hover: hsl(0, 0%, 30%);
  --pri-clr-modal: #727272;
  --pri-clr-modal-lt: #979797;
  --modal-btn-bg: white;
  --modal-btn-hover: hsla(0, 0%, 95%, 1);
  --modal-btn-clr: #ccc;
  --modal-btn-clr-dk: #999;
}

body {
  color: var(--pri-clr);
}

footer {
  color: var(--pri-clr);
}

a {
  color: var(--pri-clr);
}

.a-btn {
  background-color: var(--pri-clr-lt);
}

.clr-white {
  color: white;
}

.bg-white {
  color: white;
}

.pri-clr {
  color: var(--pri-clr);
}

.pri-clr-modal {
  color: var(--pri-clr-modal);
}

.pri-clr-modal-lt {
  color: var(--pri-clr-modal-lt);
}

.pri-clr-9 {
  color: var(--pri-clr-9);
}

.bg-pri-9 {
  background-color: var(--pri-clr-9);
}

.a-btn {
  text-decoration: none;
  padding: 0.07em 0.7em;
  background-color: var(--pri-clr-lt);
  color: white;
  border-radius: 0.45rem;
  display: inline-block;
  margin-top: 0.35rem;
  cursor: pointer;
}

.a-btn:hover {
  background-color: hsl(0, 0%, 56%);
}

.a-modal-btn {
  margin-top: 0;
  background-color: var(--modal-btn-bg);
  color: var(--modal-btn-clr);
  border: 1px solid var(--modal-btn-clr-dk);
  padding: 0;
}

.a-modal-btn:hover {
  background-color: var(--modal-btn-hover);
  color: var(--pri-clr-modal-lt);
}

.modal {
  visibility: hidden;
}

.modalWindow {
  background-color: white;
  top: 50vh;
  left: 50vw;
  translate: -50% -50%;
  height: 900px;
  width: 750px;
  position: absolute;
  color: var(--pri-clr);
  border: 1px solid var(--pri-clr-modal-lt);
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 2;
}

.modalOverlay {
  background-color: hsla(47, 10%, 89%, 0.8);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1;
}

.active {
  visibility: visible;
}

.album {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: whitesmoke;
  color: var(--pri-clr-lt);
  padding: 4px 0;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.hidden {
  visibility: hidden;
}

.container {
  width: 50vw;
  margin-left: 25%;
}

.close-btn-container {
  display: flex;
  justify-content: space-between;
}

.modal-content {
  margin: 0.5rem 0 0 2.5rem;
}

.modal-grid {
  margin-top: 1rem;
  border-top: 1px solid var(--pri-clr-modal-lt);
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 2rem;
}

.modal-btn-flex {
  display: flex;
  flex-direction: row-reverse;
}

.flex-cont {
  display: flex;
  gap: 1rem;
  margin-top: 0.25rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

article {
  margin-top: 1.5rem;
  line-height: 1.5;
}

article:nth-of-type(1) {
  margin-top: 1.5rem;
}

.aflex {
  display: flex;
}

#img-container {
  border-radius: 8px;
  overflow: hidden;
  width: 186px;
  margin-top: 0.4rem;
}

.sidebar {
  margin-right: 2rem;
}

.sidebar > div {
  background-color: white;
  border-radius: 8px;
  padding: 0 0 0.2rem 0.8rem;
  margin-bottom: 0.25rem;
}

.sidebar-bg {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */