:root {
  //primary color setπ
  --pri-clr: hsl(0, 0%, 40%);
  --pri-clr-lt: hsl(0, 0%, 45%);
  --btn-pri-hover: hsl(0, 0%, 30%);
  --pri-clr-modal: #727272;
  --pri-clr-modal-lt: #979797;
  --modal-btn-bg: white;
  --modal-btn-hover: hsla(0, 0%, 95%, 1);
  --modal-btn-clr: #ccc;
  --modal-btn-clr-dk: #999;
}

body {
  color: var(--pri-clr);
}

footer {
  color: var(--pri-clr);
}

a {
  color: var(--pri-clr);
}
.a-btn {
  background-color: var(--pri-clr-lt);
}

.clr-white {
  color: white;
}

.bg-white {
  color: white;
}

.pri-clr {
  color: var(--pri-clr);
}

.pri-clr-modal {
  color: var(--pri-clr-modal);
}

.pri-clr-modal-lt {
  color: var(--pri-clr-modal-lt);
}

.pri-clr-9 {
  color: var(--pri-clr-9);
}

.bg-pri-9 {
  background-color: var(--pri-clr-9);
}
