.text-bold {
  font-weight: 500;
}

h1,
h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.album-pop {
  text-decoration: underline;
  cursor: default;
}

.flex-cont {
  font-weight: 300;
}
