.container {
  width: 50vw;
  margin-left: 25%;
}

.close-btn-container {
  display: flex;
  justify-content: space-between;
}

.modal-content {
  margin: 0.5rem 0 0 2.5rem;
}

.modal-grid {
  margin-top: 1rem;
  border-top: 1px solid var(--pri-clr-modal-lt);
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 2rem;
}

.modal-btn-flex {
  display: flex;
  flex-direction: row-reverse;
}

.flex-cont {
  display: flex;
  gap: 1rem;
  margin-top: 0.25rem;
}

article {
  margin-top: 1.5rem;
  line-height: 1.5;
}

article:nth-of-type(1) {
  margin-top: 1.5rem;
  // padding-top: 1.5em;
}

.sidebar {
  margin-right: 2rem;
}

.sidebar div > a {
  text-decoration: none;
}

.sidebar > div {
  background-color: white;
  border-radius: 8px;
  padding: 0 0 0.2rem 0.8rem;
  margin-bottom: 0.25rem;
}

.sidebar > div:nth-of-type(1) {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
